
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    text-align: right;
    background-color: #fff;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}
.sidebar {
    position: fixed;
    width: 250px;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    transition: right 0.3s ease-in-out;
}
.main {
    min-height: calc(100vh - 3.5rem);
    margin-right: 250px;
    transition: right 0.3s ease-in-out;
}
.nav-link {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}
.nav-link:hover, .nav-item .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
}


.custom-form {
    max-width: 100%;
    width: 900px;
    margin: auto;
}

.custom-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.custom-form input,
.custom-form select,
.custom-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.custom-form input[type="checkbox"] {
    width: 20px;
}
.custom-form input:focus,
.custom-form select:focus,
.custom-form textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-form button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.custom-form button:hover {
    opacity: 0.9;
}

.custom-form p {
    margin-top: 10px;
    margin-bottom: 0px;
}
    
.filter-form label {
    display: flex;
    width: max-content;
}
.filter-form .custom-checkbox input[type="checkbox"] {
    min-width: 15px; 
    width: 15px; 
    max-width: 15px; 
    margin: 8px;
    display: inline;
}
.filter-form .custom-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .custom-form {
        width: 100%;
    }
    .sidebar {
        right: -250px;
    }
    .main {
        margin-right: 0 !important;
    }
}